table {
  width: 100%;
}

.car-thumb {
  max-width: 115px;
}

mat-card {
  width: 100%;
  margin: 0 10px;
}

.mat-toolbar-single-row {
  height: 85px;
}

.search-box {
  margin-left: 20px;
}

.mat-icon {
  cursor: pointer;
}

.mat-icon:hover {
  color: brown;
}
.fill-remaining-space {
  flex: 1 1 auto;
}
.search-cont{
  width:215px!important;
}
.slider-bar{
  width: 300px;
  margin-left: 10px;
}
.text-min{
  font-size: 10px;
  margin-top: 32px;
  margin-right: -30px;
}
.text-max{
  font-size: 10px;
  margin-top: 32px;
  margin-left: -30px;
}

