<mat-toolbar color="primary">
    <mat-card-title>SINGULAR COVER TEST </mat-card-title>
</mat-toolbar>
<mat-toolbar>
    <mat-card-title>Cars Manager</mat-card-title>
</mat-toolbar>
<mat-toolbar>
  <!-- filter by brand or model -->
  <mat-form-field class="search-cont">
    <input matInput 
    (keyup)="applyFilter($event.target.value)"
     placeholder="Filter by Brand or Model">
  </mat-form-field>
  <span class="fill-remaining-space"></span>
    <!-- filter by price -->
    <span>Filter by Price</span>
    <span class="text-min">{{minPrice}}</span>
  <mat-slider
  class="slider-bar"
  (input)="filterPrice($event)"
  thumbLabel
  [displayWith]="formatLabel"
  tickInterval="1000"
  min={{minPrice}}
  max={{maxPrice}}></mat-slider>
  <span class="text-max">{{maxPrice}}</span>
  <span class="fill-remaining-space"></span>
  <!-- favorite button -->
  <button mat-raised-button color="warn" (click)='openModal()'>MY FAV</button>
</mat-toolbar>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource"  matSort>

    <!-- Image Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef> IMAGE </th>
      <td mat-cell *matCellDef="let element"> <img class='car-thumb' src='{{pathImages}}{{element.image}}'/> </td>
    </ng-container>

    <!-- Brand Column -->
    <ng-container matColumnDef="brand">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> BRAND </th>
      <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
    </ng-container>

    <!-- Model Column -->
    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> MODEL </th>
      <td mat-cell *matCellDef="let element"> {{element.model}} </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> PRICE </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

        <!-- Favorite Column -->
    <ng-container matColumnDef="favorite">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon 
        (click)='addFavorite(element.id)'> 
        favorite_border 
      </mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator class="paginato-custom" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
