<h3  mat-dialog-title>MY FAVORITES</h3>
<div class="cont-tabla" mat-dialog-content *ngIf="data.datos.length>0; else noFavorites">
    <!-- filter by brand or model -->
    <mat-form-field class="search-cont">
        <input matInput 
        (keyup)="applyFilterFavorites($event.target.value)"
         placeholder="Filter by Brand or Model">
      </mat-form-field>
    <table mat-table [dataSource]="dataSource"  matSort >
  
      <!-- Image Column -->
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> IMAGE </th>
        <td mat-cell *matCellDef="let element"> <img style='max-height: 30px' src='{{data.pathImages}}{{element.image}}'/> </td>
      </ng-container>
  
      <!-- Brand Column -->
      <ng-container matColumnDef="brand">
        <th mat-header-cell *matHeaderCellDef > BRAND </th>
        <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
      </ng-container>
  
      <!-- Model Column -->
      <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef > MODEL </th>
        <td mat-cell *matCellDef="let element"> {{element.model}} </td>
      </ng-container>
  
          <!-- Favorite Column -->
      <ng-container matColumnDef="favorite">
        <th mat-header-cell *matHeaderCellDef > Remove </th>
        <td mat-cell *matCellDef="let element"><mat-icon (click)='removeFavorite(element.id)'> highlight_off </mat-icon></td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="data.displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: data.displayedColumns;"></tr>
    </table>
  </div>
  <ng-template #noFavorites>
   No favorites. Close this message and select your favorite car from list.
  </ng-template>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Close</button>
  </div>